.desilu-main-popup {
    height: 400px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    box-shadow: 0 4px 10px rgba(0,0,0,.4);
    padding: 8px;
    border-radius: 16px;
}

.desilu-popup-header {
    display: flex;
    margin-bottom: 16px;
    flex-basis: 10%;
    flex-direction: row;
}

.desilu-header-searchbox {
    background-color: #f2f2f2;
    border-radius: 16px;
    outline: none;
    border: 0;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    color: #888888;
}

.desilu-header-x {
    cursor: pointer;
    padding: 8px;
    color: gray;
}

.desilu-popup-content {
    display: flex;
    flex-direction: row;
    flex-basis: 90%;
}

.desilu-content-list {
    overflow: scroll;
}

.desilu-list-item {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

.desilu-content-details {
    overflow: scroll;
}

.desilu-choice-item {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

/*SCROLLBARS*/
::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}